.notification{
    background-color: #16a085;
    margin-bottom: 3px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2px;
    padding: 0px;
    color: #2d3436;

}
h1{
    margin: 0px;
    padding: 0px;
}
.notification h3{
    padding-top: 4px;
    padding-bottom: 4px;
}