.not-container{
    background-color: #bdc3c7;
    width: 30%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    text-align: center;
    overflow-y: scroll;
}
.not-container h1{
    margin-bottom: 30px;
}